.logo__header {
    justify-content: left;
}

.links__header {
    justify-content: flex-end;
    color:white;
}

.NavLink {
    color:whitesmoke !important;
}

.Navbar a.nav-link:hover,
.Navbar a.nav-link:focus,
.Navbar a.navbar-brand:hover,
.Navbar a.navbar-brand:focus {
    color: var(--orange);
}

.navbar__header {
    background-color: var(--trans-indigo);
}

a.nav-link {
    color:whitesmoke;
    font-size: xx-large;
}

a.navbar-brand {
    color:whitesmoke;
    font-size: 50px;
}