.header__signup {
    display: flex;
    margin-top: 3dvh;
    margin-left: 3dvh;
    width: 100%; 
}

.title__signup {
    background-color: var(--indigo);
    color: whitesmoke;
    font-size: 30px;
    width: fit-content ;
    padding: 2dvw;
    margin-right: 2dvw;
    border-radius: 5dvw;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.banner__signup {
    font-size: 60px;
    color: white;
}

.form__signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2vh;
}
  
  
form:not(.no-touchy) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%; 
}
  
label:not(.no-touchy) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    color:white;
    font-size:16px;
}
  
input[type="email"],
input[type="password"] {
    padding: 2dvh;
    width: 100%;
    border: none;
    border-radius: 20px; 
    background-color: var(--trans-orange);
    color: white;
}
  
input[type="email"]::placeholder,
input[type="password"]::placeholder {
    color: var(--indigo);
}
  
input[type="submit"] {
    background-color: var(--indigo);
    color: white;
    border: none;
    border-radius: 20px; 
    padding: 10px 20px;
    font-size:25px;
    cursor: pointer;
    width: fit-content;
}

input[type="submit"]:hover {
    background-color: var(--purple);
    transform: translateY(-2px);
}

.link__to-login {
    font-size:18px;
    color:whitesmoke;
}